*{
    margin:0;
    padding:0;
    font-size: 1rem;
}

#cover{
    max-width: 250px;
}

#paddingLine{
    height: 45px;
}

header{
    width:100vw;
    height:40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1{
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 5rem;
}

header h2{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2.25rem;
}

main{
    background-color: #f6d7d0;
}

#definition{
    width:100vw;
    text-align: center;
    background-color: white;
    padding:1vh 0;
    margin:1vh 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 2rem;
}

#content{
    width:80vw;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#content div{
    background-color: white;
    margin: 5%;
    padding: 5% 10%;
    border-radius: 40px;
    border: 3px solid #e98a8a;
    box-shadow: 4px 4px #e98a8a;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    
}

#smallerDiv{
    max-width: 800px;
}

#content div h3{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 20px;
}

.price{
    text-align: center;
}

#content div p{
    font-size: 2rem;
    padding-bottom: 20px;
}

#content div ul{
    padding-left: 30px;
}

#content div ul li{
    font-size: 1.75rem;
}

#cottageFood{
    grid-column: 1/span 2;
}

#cottageFood p{
    margin: 20px 0;
}

a{
    font-size: 2rem;
    color:#e98a8a;
}

a:hover{
    font-style: italic;
    color:purple;
}

#ingredients{
    grid-column: 1 / 3;
}

#ingredients p{
    margin: 20px 0;
}

#ingredientLink{
    text-align: center;
}

@media only screen and (max-width: 1080px) {

    header{
        height:60vh;
        margin: auto;
    }

    #content{
        width:95vw;
        display: grid;
        grid-template-columns: 1;
    }

    #content div{
        grid-column: 1 / 3;
    }

}
@media only screen and (max-width: 600px) {

    #content div p{
        font-size: 1.5rem;
    }

    #content div ul li{
        font-size: 1.5rem;
    }

}
